/* Estilos Generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fc;
    background-image: url('img/FondoPrincipal.jpeg'); /* Ruta de la imagen de fondo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

/* Contenedor principal */
.container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

/* Título */
h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 30px;
}

/* Formulario */
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Estilo para los labels */
label {
    margin-bottom: 8px;
    text-align: left;
    font-weight: bold;
    color: #555;
    width: 100%;
    text-align: left;
}

/* Estilo para los campos de entrada */
input {
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

input:focus {
    border-color: #007BFF;
    outline: none;
}

/* Estilo del botón */
button {
    padding: 12px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    max-width: 300px;
}

button:hover {
    background-color: #0056b3;
}

/* Estilo del botón de regreso */
button[type="button"] {
    background-color: #ccc;
    margin-top: 15px;
}

button[type="button"]:hover {
    background-color: #aaa;
}

/* Mensajes de error y éxito */
.error-message, .success-message {
    font-size: 14px;
    margin-bottom: 15px;
}

.error-message {
    color: red;
}

.success-message {
    color: green;
}

/* Enlace de inicio de sesión */
p {
    font-size: 14px;
    color: #555;
}

p a {
    color: #007BFF;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}
